<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>9EUFEA5U7G.com.nito.tuyuTV</string>
	<key>com.apple.developer.team-identifier</key>
	<string>9EUFEA5U7G</string>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.tuyu</string>
		<string>group.com.nito.tuyuTV</string>
	</array>
	<key>get-task-allow</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>9EUFEA5U7G.com.nito.tuyuTV</string>
	</array>
</dict>
</plist>
