Architecture: iphoneos-arm
Name: tuyu
Package: com.nito.ytbrowser
Version: 1.3
Maintainer: Kevin Bradley
Author: Kevin Bradley
Description: Simple clean YouTube client; picture the days before google ruined it! Browse suggested videos, #PopularOnYoutube, #music, #sports, Stream entire playlists,  Download videos and audio directly into the music library, share videos links and more!
Section: Utilities
Depends: firmware (>= 8.0), mobilesubstrate, com.nin9tyfour.ffmpeg, com.ouraigua.jodebox, ldid
homepage: http://www.github.com/lechium/yourTubeiOS/